<div class="container champion-lore-container">
    <i class="fa fa-spinner fa-spin" aria-hidden="true" ng-show="loading"></i>
    <div class="row champion-lore" ng-hide="loading">
        <div class="col-md-6">
            <h1>{{ championDetails.name }}</h1>
            <h5>{{ championDetails.title }}</h5>
            <div ng-show="collapsed">
                <span ng-bind-html="championDetails.blurb"></span>
                <a class="fr" ng-href="#/champions/{{championDetails.id}}" ng-click="toggleLore(collapsed)">Read More</a>
            </div>
            <div ng-hide="collapsed">
                <span ng-bind-html="championDetails.lore"></span>
                <a class="fr" ng-href="#/champions/{{championDetails.id}}" ng-click="toggleLore(collapsed)">Read Less</a>
            </div>
        </div>
        <div class="col-md-6 skin-preview">
            <div class="row">
                <div class="col-xs-5 col-sm-5 col-md-5 skin-thumbnails">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 skin-thumbnail" ng-repeat="skin in championDetails.skins">
                        <img ng-click="setImageAndSkinName(skin.num, skin.name)" ng-src="https://ddragon.leagueoflegends.com/cdn/img/champion/loading/{{championDetails.key}}_{{skin.num}}.jpg">
                    </div>
                </div>
                <div class="col-xs-7 col-sm-7 col-md-7 skin-image">
                    <img ng-src="https://ddragon.leagueoflegends.com/cdn/img/champion/loading/{{championDetails.key}}_{{imageNum}}.jpg">
                    <h4>{{championDetails.skinName}}</h4>
                </div>
            </div>
        </div>
    </div>
</div>
