<div class="container champion-list-container">
    <div class="row">
        <div class="col-md-3 left-sidebar">
            <div class="search-container">
                <input class="form-control" type="text" onfocus="this.placeholder=''" onblur="this.placeholder='Search...'" placeholder="Search..." ng-model="nameFilter.name" />
                <i class="fa fa-search" aria-hidden="true"></i>
            </div>
            <form>
                <div class="checkbox" ng-repeat="(key, value) in rolesObj">
                    <label>
                        <input type="checkbox" ng-model="rolesObj[key]">{{ key }}
                    </label>
                </div>
            </form>
        </div>
        <div class="col-md-9 champion-list-wrapper">
            <i class="fa fa-spinner fa-spin" aria-hidden="true" ng-show="loading"></i>
            <div class="champion-image animate"
                ng-repeat="champion in championList | filter: nameFilter | rolesFilter: rolesObj | orderBy: 'name'"
                tooltip-placement="bottom"
                uib-tooltip="{{champion.name}}">
                <a href="#/champions/{{champion.id}}">
                    <img ng-src="https://ddragon.leagueoflegends.com/cdn/{{ version }}/img/champion/{{champion.image.full}}">
                </a>
            </div>
        </div>
    </div>
</div>
