<div class="form-group container">
    <input class="form-control" type="text" placeholder="Search..." ng-model="nameFilter.name" />
</div>
<div class="container">
    <div class="champion-image" ng-repeat="champion in championList | filter: nameFilter | orderBy: 'name'">
        <a href="#/champions/{{champion.id}}">
            <img ng-src="http://ddragon.leagueoflegends.com/cdn/{{ version }}/img/champion/{{champion.image.full}}">
        </a>
    </div>
    <div ng-repeat="tag in champion.tags">{{ tag }}</div>
</div>
