/* app css stylesheet */
body {
  background: url("../images/polygonal_bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* Margin bottom by footer height */
  margin-bottom: 60px; }

html {
  position: relative;
  min-height: 100%; }

.footer {
  position: absolute;
  bottom: -20px;
  width: 100%;
  height: 60px;
  background-color: #e7e7e7; }
  .footer div.text-muted {
    margin: 20px 0; }

.row-no-padding-margin {
  padding: 0 !important;
  margin: 0 !important; }

.champion-lore {
  background-color: white;
  position: relative;
  padding: 0 15px 15px 15px; }

.left-sidebar {
  margin-top: 3px;
  background: #e7e7e7; }

.navbar-static-top .navbar-brand {
  height: 60px;
  padding: 0; }
  .navbar-static-top .navbar-brand > img {
    height: 100%;
    padding: 10px;
    width: auto; }

.navbar-static-top .nav > li > a {
  padding-top: 20px;
  padding-bottom: 20px; }

.navbar-static-top .navbar-form {
  padding-top: 5px; }

.champion-list-container .champion-list-wrapper {
  position: relative; }
  .champion-list-container .champion-list-wrapper .champion-image {
    display: inline-block;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease; }
    .champion-list-container .champion-list-wrapper .champion-image:hover {
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
      transform: scale(1.1); }
    .champion-list-container .champion-list-wrapper .champion-image img {
      height: 75px;
      width: 75px;
      padding: 2px; }

.spinner-style i, .champion-lore i, .champion-list-container .champion-list-wrapper i {
  position: absolute;
  left: 50%;
  top: 20px;
  color: white;
  font-size: 100px;
  margin-left: -50px; }
